<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
 <link rel="icon" href="~/img/logos/Bitmoon_Icon-1.png" type="image/png">
<title>@ViewData["Title"] - Bitmoonfasttrade</title>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- Icons -->
<link href="~/vendor/nucleo/css/nucleo.css" rel="stylesheet" asp-append-version="true">
<link href="~/vendor/@@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" asp-append-version="true">
<!-- Argon CSS -->
<link type="text/css" href="~/css/argon.css?v=1.2.0" rel="stylesheet" asp-append-version="true">
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body class="bg-default">
    <div class="main-content">
        <div class="container mt--8 pb-5">
            <!-- Page content -->
            @RenderBody()
        </div>
    </div>
<!-- Argon Scripts -->
<!-- Core -->
<script src="~/vendor/jquery/dist/jquery.min.js" asp-append-version="true"></script>
<script src="~/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
<script src="~/vendor/js-cookie/js.cookie.js" asp-append-version="true"></script>
<script src="~/vendor/jquery.scrollbar/jquery.scrollbar.min.js" asp-append-version="true"></script>
<script src="~/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js" asp-append-version="true"></script>
<!-- Docs JS -->
<script src="~/vendor/anchor-js/anchor.min.js" asp-append-version="true"></script>
<script src="~/vendor/clipboard/dist/clipboard.min.js" asp-append-version="true"></script>
<script src="~/vendor/holderjs/holder.min.js" asp-append-version="true"></script>
<script src="~/vendor/prismjs/prism.js" asp-append-version="true"></script>
<!-- Optional JS -->
<script src="~/vendor/chart.js/dist/Chart.min.js" asp-append-version="true"></script>
<script src="~/vendor/chart.js/dist/Chart.extension.js" asp-append-version="true"></script>
<script src="~/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
<!-- Argon JS -->
<script src="~/js/argon.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
