@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
<style>
    .main-content {
       padding-top: 200px;
       padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 100px;
    }
</style>
@* <h1>@ViewData["Title"]</h1> *@

<!-- Table -->
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5" style="padding-bottom: 20px !important">
                <div class="btn-wrapper text-center">
                        <span class="btn-inner--icon">
                            <a asp-controller="Home" asp-action="Index"><img src="~/img/logos/Bitmoon_Flavicon-1.png" style="height: 50px !important;" alt=""></a>
                        </span>
                </div> 
            </div>
            <div class="card-body px-lg-5 py-lg-5">
                @* <div class="text-center text-muted mb-4">
                    <small>Or sign up with credentials</small>
                </div> *@
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post" role="form">
                    @if (!ViewData.ModelState.IsValid && ViewData.ModelState[string.Empty] != null)
                    {
                        @foreach (var error in @ViewData.ModelState[string.Empty]?.Errors)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <span>@error.ErrorMessage</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        }
                    }
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-hat-3"></i>
                                </span>
                            </div>
                            <input asp-for="Input.FirstName" class="form-control" placeholder="First Name" type="text" required/>
                        </div>
                        <span asp-validation-for="Input.FirstName" class="invalid-feedback" style="display: block"></span>
                    </div>
                        <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-hat-3"></i>
                                </span>
                            </div>
                            <input asp-for="Input.LastName" class="form-control" placeholder="Last Name" type="text" required/>
                        </div>
                        <span asp-validation-for="Input.LastName" class="invalid-feedback" style="display: block"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-email-83"></i>
                                </span>
                            </div>
                            <input asp-for="Input.Email" class="form-control" placeholder="Email" type="email" required/>
                        </div>
                        <span asp-validation-for="Input.Email" class="invalid-feedback" style="display: block"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-lock-circle-open"></i>
                                </span>
                            </div>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" type="password" required/>
                        </div>
                        <span asp-validation-for="Input.Password" class="invalid-feedback" style="display: block"></span>
                    </div>
                    <div class="text-muted font-italic">
                        <small>password strength: <span class="text-success font-weight-700">strong</span></small>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="ni ni-lock-circle-open"></i>
                                </span>
                            </div>
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password" required/>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="invalid-feedback" style="display: block"></span>
                    </div>
                    <div class="row my-4">
                        <div class="col-12">
                            <div class="custom-control custom-control-alternative custom-checkbox">
                                <input asp-for="Input.AcceptPrivacyPolicy" class="custom-control-input" id="customCheckRegister" type="checkbox" required/>
                                <label class="custom-control-label" for="customCheckRegister">
                                    <span class="text-muted">I agree with the <a href="@Url.Action("Privacy", "Home")" target="_blank">Privacy Policy</a></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mt-4" type="submit">Create account</button>
                    </div>
                @* <div class="row mt-3">
                    <div class="col-3">
            
                    </div>
                    <div class="col-6 text-centre">
                        <a class="text-light" asp-area="Identity" asp-page="/Account/Login">               
                            <small>Already A User?</small>
                        </a>
                    </div>
                    <div class="col-3">
            
                    </div>
             
                </div> *@
                </form>
            </div>
        </div>

    </div>
</div>

@* <div class="row">
    <div class="col-md-offset-3 col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
